body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100vw;
  height: 100vh;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  background-color: grey;
  padding: 8px;
  color: white;
}

.mathOperations {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
}

button {
  cursor: pointer;
  border: 1px solid #c7c7c7;
  background-color: #e0e0e0;
}

button:hover {
  background-color: #e0e0e0b9;
}

button:active {
  background-color: #80808088;
}

.zero {
  grid-column: 1 / span 2;
}

.mathsSymbol {
  background-color: #f5913e;
}

.mathsSymbol:hover {
  background-color: #ee832bc4;
}

.mathsSymbol:active {
  background-color: rgba(82, 40, 3, 0.966);
}

.results {
  background-color: #858694;
  padding: 10px;
}

.calculator {
  width: 400px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
  top: 0;
}

.nav__list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.calculator__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home__paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  left: 20%;
  top: 20%;
  line-height: 30px;
  letter-spacing: 2px;
}

.quote__paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  left: 20%;
  top: 20%;
  line-height: 30px;
  letter-spacing: 2px;
}

.home__heading {
  padding: 10px 50px;
}
